.main{
  display: flex;
  gap: 40px;
}
.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px; 
  gap: 20px;
}

.card{
  width: 300px;
}
