.list{
  display: flex;
  color: #ffffff;
  gap: 15px;
  font-size: 20px;

  li{
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;
    a{
      transition: all .3s;
    }

    &:hover{
      transform: scale(1.1);
      color: #ffffff;
    }
  }
}
