.card{
  position: relative;
  height: 500px;
  width: 350px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  color: var(--light-gray);
}

.imgWrapper{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: rgb(72, 73, 73);
  padding: 5px;
  border-radius: 8px;
}

.title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.price{
  font-size: 20px;
  font-weight: 500;
}