.section{
  color: var(--light-gray);
}

.cardInfoWrapper{
  display: flex;
  justify-content: space-around;
}

.imgWrapper{
  width: 500px;
  height: 500px;

  img{
    width: 100%;
  }
}

.cardInfo{
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 20px;
  align-items: center;
  p{
    font-size: 20px;
  }
  h1{
    font-size: 40px;
  }
}

.price{
  display: flex;
  gap: 20px;
  align-items: center;
  s{
    color: rgb(167, 167, 167);
  }
  span{
    font-size: 50px;
  }
  span+span{
    font-size: 40px;
  }
}

.itemInfo{
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  h2{
    font-size: 40px;
  }
  p{
    font-size: 24px;
    text-align: center;
  }
}

.comments{
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2{
    text-align: center;
    font-size: 40px;
  }
}