.header{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button{
  position: relative;
  &:hover{
    color: #ffffff;
  }
}

.count{
  font-size: 12px;
  padding: 3px 6px;
  position: absolute;
  background-color: rgb(87, 86, 86);
  top: -9px;
  right: -9px;
  border-radius: 50%;
}