.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchWrapper{
  display: flex;
  margin-bottom: 20px;
}

.searchInput{
  color: var(--light-gray);
  display: flex;
  justify-content: center;
  font-size: 50px;
  border: none;
  outline: none;

  &::placeholder{
    color: var(--light-gray);
  }
}

.button{
  font-size: 50px;
  color: var(--light-gray);
}

.productsWrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  width: 350px;
}
