.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchWrapper{
  display: flex;
  margin-bottom: 20px;
}

.searchInput{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--light-gray);
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: none;
  outline: none;
  padding-right: 15px;

  &::placeholder{
    color: var(--light-gray);
  }
}

.button{
  font-size: 40px;
  color: var(--light-gray);
}

.productsWrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  width: 350px;
}
